@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: rgb(59,59,59);
    color: rgb(200, 200, 200);
    font-family:"Ubuntu";
    margin: 0;
    padding: 0;
}

:root {
    --color-text: #0f0;
}

a {
    color: var(--color-text);
    font-family:"Ubuntu";
}

h1 {
    text-align: center;
    color: var(--color-text);
    font-family:"Ubuntu Bold";
}
