body {background-color: rgb(59,59,59); color: rgb(200, 200, 200); font-family:"Arial"}
a    {color: rgb(20, 240, 38); font-family:"Arial"}
h1   {text-align: center; color: #40d0e0; font-family:"Arial"}
