body {
    background-color: rgb(59,59,59);
    color: rgb(200, 200, 200);
    font-family:"Ubuntu";
    margin: 0;
    padding: 0;
}

a {
    color: rgb(20, 240, 38);
    font-family:"Ubuntu";
}

h1 {
    text-align: center;
    color: #40d0e0;
    font-family:"Ubuntu Bold";
}
