@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    color: #fff;
    background-color: rgb(59,59,59);
    font-family:"Ubuntu";
    margin: 0;
    padding: 0;
}

:root {
    --cont-bg: #222;
    --obj-bg: #333;
    --obj-bg-hover: #555;
    --color-text: #0f0;
}

a {
    color: var(--color-text);
    font-family:"Ubuntu";
}

h1 {
    text-align: center;
    color: #40d0e0;
    font-family:"Ubuntu Bold";
}

#project-list {
    background-color: var(--cont-bg);
    border-radius: 1em;
}

.project-list-row {
    display:flex;
}

.project {
    min-width: 10%;
    margin: 0.3em;
    padding: 0.3em;
    background-color: var(--obj-bg);
    border-radius: 0.5em;
    border-width: 0.15em;
    border-style: solid;
    border-color: #000;
    transition-duration: 100ms;
    cursor: default;
}

.project:hover {
    background-color: var(--obj-bg-hover);
}

.project-header {
    width: 100%;
    font-size: 20px;
    color: var(--color-text);
    cursor: pointer
}

#discord-list {
    background-color: var(--cont-bg);
    border-radius: 1em;
}

.discord-server {
    min-width: 20%;
    margin: 0.3em;
    padding: 0.3em;
    background-color: var(--obj-bg);
    border-radius: 0.5em;
    border-width: 0.15em;
    border-style: solid;
    border-color: #000;
    transition-duration: 100ms;
    cursor: default;
}

.discord-list-row {
    display:flex;
}

.discord-server > span {
    color: var(--color-text);
    cursor: pointer;
}

.discord-server:hover {
    background-color: var(--obj-bg-hover);
}